.intro-alignment {
  display: flex;
  align-items: center;
}
.section-alignment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 5% 15% 0;
}
.image-alignment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}
@media (min-width: 550px) {
  .image-alignment {
    margin-left: 15%;
    justify-content: space-between;
  }
}
.footer-alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 70%;
  margin: 8% 15% 0;
}
@media (min-width: 550px) {
  .footer-alignment {
    margin-bottom: 7%;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Righteous', sans-serif;
  color: #deeef4;
}
h1,
h2 {
  font-family: 'Quicksand' sans-serif;
  color: #07b5b5;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 1.8rem;
}
@media (min-width: 550px) {
  h3 {
    font-size: 2.4rem;
  }
}
p {
  font-size: 1.2rem;
}
@media (min-width: 500px) {
  p {
    font-size: 1.8rem;
  }
}
.container {
  min-width: 500px;
  width: 100%;
  margin: 0 auto;
}
body .container .top-content {
  position: relative;
}
body .container .top-content .header-image {
  height: 200px;
}
@media (min-width: 550px) {
  body .container .top-content {
    height: 400px;
    width: 70%;
    margin: 0 15% 0;
  }
  body .container .top-content .header-image {
    height: 100%;
  }
}
body .container .top-content .contact-us {
  position: absolute;
  top: 75px;
  right: 5px;
  display: flex;
  align-items: center;
  width: 20%;
  height: 45px;
  font-size: 1.8rem;
  border: 3px solid #508991;
  border-radius: 18%;
  background: #004346;
}
@media (min-width: 550px) {
  body .container .top-content .contact-us {
    width: 25%;
    height: 50px;
    text-align: center;
  }
}
@media (min-width: 700px) {
  body .container .top-content .contact-us {
    padding: 25px;
  }
}
body .container .top-content .title-text {
  position: absolute;
  top: 50%;
  left: 20%;
  padding: 15px;
  height: 100px;
  font-size: 4.8rem;
  text-decoration: none;
}
@media (min-width: 550px) {
  body .container .top-content .title-text {
    left: 20%;
  }
}
body .container .title-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 100px;
  text-decoration: none;
}
body .container .about-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 5% 15% 0;
  background-color: lightblue;
}
body .container .about-us h2 {
  display: flex;
  justify-content: center;
  padding: 2%;
}
body .container .about-us p {
  padding: 2%;
  text-align: center;
}
body .container .images {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
@media (min-width: 550px) {
  body .container .images {
    margin-left: 15%;
    justify-content: space-between;
  }
}
@media (min-width: 500px) {
  body .container .images {
    width: 70%;
    height: 350px;
    justify-content: space-evenly;
  }
}
@media (min-width: 700px) {
  body .container .images {
    height: 300px;
  }
}
body .container .images .middle-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100px;
  max-height: 300px;
  text-align: center;
  background-color: lightblue;
}
@media (min-width: 550px) {
  body .container .images .middle-images {
    align-items: center;
    max-width: 30%;
    max-height: 100%;
    padding-bottom: 5%;
  }
}
body .container .images .middle-images .image1 {
  width: 100px;
  height: 75px;
}
@media (min-width: 550px) {
  body .container .images .middle-images .image1 {
    width: 100%;
    height: 35%;
  }
}
body .container .images .middle-images .image2 {
  width: 100px;
}
@media (min-width: 550px) {
  body .container .images .middle-images .image2 {
    width: 100%;
    height: 35%;
  }
}
body .container .images h3 {
  margin: 5% 0;
}
body .container .bottom-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15% 10% 0;
  width: 80%;
  text-align: center;
  background-color: lightblue;
}
@media (min-width: 550px) {
  body .container .bottom-content {
    margin: 5% 15% 0;
    width: 70%;
    padding-bottom: 2%;
  }
}
body .container .bottom-content h2 {
  padding: 5%;
}
body .container footer {
  max-width: 600px;
  margin-top: 5%;
}
@media (min-width: 550px) {
  body .container footer {
    margin: 5% 0;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 700px) {
  body .container footer {
    margin: 5% 15% 3%;
  }
}
body .container footer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 70%;
  margin: 8% 15% 0;
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 550px) {
  body .container footer nav {
    margin-bottom: 7%;
  }
}
body .container footer nav a {
  text-decoration: none;
  color: #004346;
  padding: 5px;
}
body .navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
}
body .navigation .about {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  font-size: 1.8rem;
  text-decoration: none;
}
body .navigation .about a {
  padding: 5px;
}
body .navigation .main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 5%;
  border: 1px solid darkgray;
}
body .navigation .main-content p {
  margin-bottom: 20%;
}
